<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Angular Crud</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="employees">Employees</a>
        <a class="nav-link active" aria-current="page" routerLink="employee/add">Add Employees</a>
        <a class="nav-link " (click)="logout()">Logout</a>
        <ng-container *ngIf="!isLoggedIn; else loggedInNav">
          <a class="nav-link active" aria-current="page" routerLink="login">Login</a>
        </ng-container>
      
        <!-- Display username if logged in -->
        <ng-template #loggedInNav>
          <div class="nav-link active">
            Welcome, {{ username }}
            <a (click)="logout()" class="logout-button">Logout</a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
